body {
    background-color: black;
    color: white;
    text-align: center;
}

.page {
    max-width: 1024px;
    margin: 0 auto;
    color: white;
    font-family: "fonte", sans-serif;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: black;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.4);

}

.header-menu {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    align-items: center;
}

.header-img {
    max-width: 25px;
    max-height: 25px;
}

.nav-img {
    display: none;
}

.categories-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.login-button {
    display: flex;
    flex-direction: row;
    gap: .25rem;
}

.login-button button {
    background-color: black;
    color: white;
    padding: .1rem .4rem;
    border-radius: 5rem;
    cursor: pointer;
}

.login-button i {
    border: .1rem solid black;
    border-radius: 50%;
    padding: .1rem;
}

.home-image {
    margin-top: 60px;
    width: 100%;
    height: auto;
}

.destak {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.destak img {
    width: 100%;
}

hr {
    width: 100%;
    height: .2rem;
    background-color: black;
}

.categories {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 2rem auto;
    gap: 1rem;
}

.categories-img {
    width: 100%;
    margin: auto;
}

.categories-buttons,
.categories-buttons a {
    width: 100%;
    display: flex;
    margin: auto;
    align-items: center;
}

.categories-buttons a {
    width: 80%;
}

.categories-news {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 2rem auto;
    gap: 2rem;
}

.categories-quadros {
    width: 100%;
}

.categories-caroussel {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    margin-bottom: 1rem;
}

.swiper {
    padding: 0;
}

.swiper-button-next,
.swiper-button-prev {
    top: 45%;
    transform: translateY(-50%);
    color: black;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.promotion-container {
    text-align: center;
}

.promotion {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
}

.promotion img {
    width: 100%;
    height: auto;
    position: relative;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.footer {
    margin: 2rem 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.footer-title {
    margin-bottom: 1rem;
}

.amarelo {
    color: yellow;
}

.verde {
    color: green;
}

.azul {
    color: rgb(41, 219, 255);
}

@media (max-width: 768px) {
    .header-menu {
        margin: 0 1rem -.5rem 1rem;
    }

    .nav-menu {
        display: none;
    }

    .nav-img {
        display: block;
    }

    .categories {
        grid-template-columns: repeat(2, 1fr);
    }

    .destak {
        grid-template-columns: repeat(3, 1fr);
    }

    .destak-img {
        display: none;
    }

    .categories-news {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .categories {
        grid-template-columns: repeat(4, 1fr);
    }
}